.container
  .row
    .col-md-12
      %h1 Privacy Policy

      :markdown
        The following data is stored in a database:textile

        * Your email address
        * Temporary permission token from Google
        * Temporary permission token from FitBit

        None of your Google Fit data, Fitbit data, account data, IP address, or anything else are stored.
