.container
  .row
    .col-md-12
      %h1 Terms of Service

      :markdown
        This software is prived as-is with no guarantee whatsoever and may only be used at your own risk.

        Source code for this application may be found at http://github.com/retro486
