extends layout

block content
  h1 Fitbit Aria to Google Fit Sync Service
  p.
    In order to start synchronizing your data, you'll need to perform two steps:

  ol.steps
    li.step1 Authorize your 
      a(href='#') Google Fit Account
    li.step2 Authorize your 
      a(href='#') Fitbit Account

  include ./_footer.jade
