extends layout

block content
  h1 Privacy Policy
  p.
    I don't keep a copy of any data on disk. I only keep your weight data in memory long enough to write to Google Fit's API and then it's destroyed. None of your Fit data, Fitbit data, account data, IP address, or anything are stored.

    Your email address is optional if you'd like a reminder when the Google Fit and Fitbit permissions you've granted this app are about to expire. If they expire, the app will no longer be able to sync your data.

  a(href='/') &lt;&nbsp;Back

  include ./_footer.jade
